# Utilisation de pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
#Définir un objet Series comprenant la population de 5 pays 
ser1=Series([70,40,8,300],index=["France","Espagne","Suisse","USA"])

#ser1=Series({"France":70,"Espagne":40,"Suisse":8,"USA":300})

#puis afficher les pays ayant une population > 50’000’000.
list(ser1[ser1<50].index)

['Espagne', 'Suisse']

In [4]:
ser1.index.get_indexer_non_unique(list(ser1[ser1<50].index))

(Int64Index([1, 2], dtype='int64'), array([], dtype=int64))

In [8]:
#Définir les noms de l’objet et de la colonne des pays pour la Series précédente
ser1.name="Populations"
ser1.index.name="Pays"
ser1.to_csv("ser1.csv",decimal=",",sep=";")

In [9]:
import webbrowser
url='https://en.wikipedia.org/wiki/List_of_all-time_NBA_win-loss_records'
webbrowser.open(url)

True

In [10]:
frame1=pd.read_clipboard()

In [11]:
frame1

,Rank,Team,Won,Lost,Pct.,First NBA Season,Total Games,Division
0,1,San Antonio Spurs,"2,006","1,226",0.621,1976–77,"3,232",Southwest
1,2,Los Angeles Lakers,"3,235","2,134",0.603,1948–49,"5,369",Pacific
2,3,Boston Celtics,"3,221","2,257",0.588,1946–47,"5,478",Atlantic
3,4,Phoenix Suns,"2,122","1,766",0.546,1968–69,"3,888",Pacific
4,5,Oklahoma City Thunder,"2,139","1,831",0.539,1967–68,"3,970",Northwest
5,6,Portland Trail Blazers,"1,991","1,733",0.535,1970–71,"3,724",Northwest
6,7,Utah Jazz,"1,815","1,581",0.534,1974–75,"3,396",Northwest
7,8,Chicago Bulls,"2,115","1,936",0.522,1966–67,"4,051",Central
8,9,Miami Heat,"1,170","1,078",0.520,1988–89,"2,248",Southeast
9,10,Houston Rockets,"2,052","1,918",0.517,1967–68,"3,970",Southwest
10,11,Philadelphia 76ers,"2,726","2,578",0.514,1949–50,"5,304",Atlantic
11,12,Dallas Mavericks,"1,482","1,422",0.510,1980–81,"2,904",Southwest
12,13,Milwaukee Bucks,"1,983","1,905",0.510,1968–69,"3,888",Central
13,14,Atlanta Hawks,"2,650","2,656",0.499,1949–50,"5,306",Southeast
14,15,Indiana Pacers,"1,606","1,625",0.497,1976–77,"3,231",Central
15,16,New York Knicks,"2,701","2,774",0.493,1946–47,"5,475",Atlantic
16,17,Orlando Magic,"1,062","1,104",0.490,1989–90,"2,166",Southeast
17,18,Detroit Pistons,"2,616","2,752",0.487,1948–49,"5,368",Central
18,19,Denver Nuggets,"1,563","1,669",0.484,1976–77,"3,232",Northwest
19,20,Golden State Warriors,"2,590","2,884",0.473,1946–47,"5,474",Pacific
20,21,New Orleans Pelicans,528,604,0.466,2002–03,"1,132",Southwest
21,22,Cleveland Cavaliers,"1,728","1,996",0.464,1970–71,"3,724",Central
22,23,Sacramento Kings,"2,464","2,905",0.459,1948–49,"5,369",Pacific
23,24,Washington Wizards,"2,004","2,447",0.450,1961–62,"4,451",Southeast
24,25,Charlotte Hornets,916,"1,168",0.440,1988–89,"2,084",Southeast
25,26,Toronto Raptors,734,940,0.438,1995–96,"1,674",Atlantic
26,27,Brooklyn Nets,"1,360","1,872",0.421,1976–77,"3,232",Atlantic
27,28,Memphis Grizzlies,694,980,0.415,1995–96,"1,674",Southwest
28,29,Los Angeles Clippers,"1,469","2,255",0.394,1970–71,"3,724",Pacific
29,30,Minnesota Timberwolves,847,"1,319",0.391,1989–90,"2,166",Northwest

In [13]:
frame1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
Rank                30 non-null int64
Team                30 non-null object
Won                 30 non-null object
Lost                30 non-null object
Pct.                30 non-null float64
First NBA Season    30 non-null object
Total Games         30 non-null object
Division            30 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.0+ KB

In [14]:
frame1.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Pct.', 'First NBA Season',
       'Total Games', 'Division'],
      dtype='object')

In [17]:
frame1["Rank"]
frame1.Rank
frame1[["Rank","Won"]]

    Rank    Won
0      1  2,006
1      2  3,235
2      3  3,221
3      4  2,122
4      5  2,139
5      6  1,991
6      7  1,815
7      8  2,115
8      9  1,170
9     10  2,052
10    11  2,726
11    12  1,482
12    13  1,983
13    14  2,650
14    15  1,606
15    16  2,701
16    17  1,062
17    18  2,616
18    19  1,563
19    20  2,590
20    21    528
21    22  1,728
22    23  2,464
23    24  2,004
24    25    916
25    26    734
26    27  1,360
27    28    694
28    29  1,469
29    30    847

In [36]:
for name in ['Won', 'Lost','Total Games']:
    frame1[name]=frame1[name].str.replace(",","")
    frame1[name]=frame1[name].astype(dtype=float)

In [43]:
frame1.describe()
frame1.median()
frame1.quantile(0.975)
frame1.corr()

                 Rank       Won      Lost      Pct.  Total Games
Rank         1.000000 -0.568841 -0.065044 -0.969359    -0.351810
Won         -0.568841  1.000000  0.824618  0.600164     0.961872
Lost        -0.065044  0.824618  1.000000  0.074978     0.947893
Pct.        -0.969359  0.600164  0.074978  1.000000     0.374254
Total Games -0.351810  0.961872  0.947893  0.374254     1.000000

In [68]:
#extraire une colonne
frame1[[3]]
frame1[["Won","Lost"]]
frame1[["Won"]]

       Won
0   2006.0
1   3235.0
2   3221.0
3   2122.0
4   2139.0
5   1991.0
6   1815.0
7   2115.0
8   1170.0
9   2052.0
10  2726.0
11  1482.0
12  1983.0
13  2650.0
14  1606.0
15  2701.0
16  1062.0
17  2616.0
18  1563.0
19  2590.0
20   528.0
21  1728.0
22  2464.0
23  2004.0
24   916.0
25   734.0
26  1360.0
27   694.0
28  1469.0
29   847.0

In [77]:
#Construire deux frames avec quelques colonnes et lignes en commun puis 
#combinez-les.

frame2=DataFrame(np.random.randn(6).reshape(2,3),index=["obs1","obs2"],columns=["A","B","C"])
frame3=DataFrame(np.random.randn(6).reshape(2,3),index=["obs1","obs2"],columns=["A","B","D"])

In [78]:
frame2+frame3

             A         B   C   D
obs1 -0.102618 -1.014003 NaN NaN
obs2  2.545570 -0.688695 NaN NaN

In [79]:
frame2.add(frame3,fill_value=0)

             A         B         C         D
obs1 -0.102618 -1.014003 -0.455364  0.119713
obs2  2.545570 -0.688695 -0.909810  1.468412

In [74]:
frame2

          A         B         C
0  1.347689 -1.447655 -0.645977
1  0.081567 -0.913928 -1.296691

In [85]:
frame1.sort_values(["Division","Won"],ascending=[True,False],inplace=True)

In [86]:
frame1

,Rank,Team,Won,Lost,Pct.,First NBA Season,Total Games,Division
2,3,Boston Celtics,3221.0,2257.0,0.588,1946–47,5478.0,Atlantic
10,11,Philadelphia 76ers,2726.0,2578.0,0.514,1949–50,5304.0,Atlantic
15,16,New York Knicks,2701.0,2774.0,0.493,1946–47,5475.0,Atlantic
26,27,Brooklyn Nets,1360.0,1872.0,0.421,1976–77,3232.0,Atlantic
25,26,Toronto Raptors,734.0,940.0,0.438,1995–96,1674.0,Atlantic
17,18,Detroit Pistons,2616.0,2752.0,0.487,1948–49,5368.0,Central
7,8,Chicago Bulls,2115.0,1936.0,0.522,1966–67,4051.0,Central
12,13,Milwaukee Bucks,1983.0,1905.0,0.510,1968–69,3888.0,Central
21,22,Cleveland Cavaliers,1728.0,1996.0,0.464,1970–71,3724.0,Central
14,15,Indiana Pacers,1606.0,1625.0,0.497,1976–77,3231.0,Central
4,5,Oklahoma City Thunder,2139.0,1831.0,0.539,1967–68,3970.0,Northwest
5,6,Portland Trail Blazers,1991.0,1733.0,0.535,1970–71,3724.0,Northwest
6,7,Utah Jazz,1815.0,1581.0,0.534,1974–75,3396.0,Northwest
18,19,Denver Nuggets,1563.0,1669.0,0.484,1976–77,3232.0,Northwest
29,30,Minnesota Timberwolves,847.0,1319.0,0.391,1989–90,2166.0,Northwest
1,2,Los Angeles Lakers,3235.0,2134.0,0.603,1948–49,5369.0,Pacific
19,20,Golden State Warriors,2590.0,2884.0,0.473,1946–47,5474.0,Pacific
22,23,Sacramento Kings,2464.0,2905.0,0.459,1948–49,5369.0,Pacific
3,4,Phoenix Suns,2122.0,1766.0,0.546,1968–69,3888.0,Pacific
28,29,Los Angeles Clippers,1469.0,2255.0,0.394,1970–71,3724.0,Pacific
13,14,Atlanta Hawks,2650.0,2656.0,0.499,1949–50,5306.0,Southeast
23,24,Washington Wizards,2004.0,2447.0,0.450,1961–62,4451.0,Southeast
8,9,Miami Heat,1170.0,1078.0,0.520,1988–89,2248.0,Southeast
16,17,Orlando Magic,1062.0,1104.0,0.490,1989–90,2166.0,Southeast
24,25,Charlotte Hornets,916.0,1168.0,0.440,1988–89,2084.0,Southeast
9,10,Houston Rockets,2052.0,1918.0,0.517,1967–68,3970.0,Southwest
0,1,San Antonio Spurs,2006.0,1226.0,0.621,1976–77,3232.0,Southwest
11,12,Dallas Mavericks,1482.0,1422.0,0.510,1980–81,2904.0,Southwest
27,28,Memphis Grizzlies,694.0,980.0,0.415,1995–96,1674.0,Southwest
20,21,New Orleans Pelicans,528.0,604.0,0.466,2002–03,1132.0,Southwest

In [88]:
ser2 = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [89]:
ser2

1  a    0.862369
   b    0.413786
   c   -1.736558
2  a    0.815326
   b   -0.673509
   c   -0.665682
dtype: float64

In [92]:
ser2.unstack()

          a         b         c
1  0.862369  0.413786 -1.736558
2  0.815326 -0.673509 -0.665682

In [95]:
#Importez le fichier demo_ventes.csv depuis Python dans FrameVentes.
frameVentes=pd.read_csv("demo_ventes.csv",sep=";")

In [96]:
frameVentes

    account     Jan     Feb     Mar
0    211829   10000   62000   35000
1    320563   95000   45000   35000
2    648336   91000  120000   35000
3    109996   45000  120000   10000
4    121213  162000  120000   35000
5    132971  150000  120000   35000
6    145068   62000  120000   70000
7    205217  145000   95000   35000
8    209744   70000   95000   35000
9    212303   70000  120000   35000
10   214098   45000  120000   55000
11   231907  150000   10000  162000
12   242368  162000  120000   35000
13   268755   55000  120000   35000
14   273274  150000  120000   70000

In [98]:
#Importez un fichier Excel depuis python. On utilisera excel-data.xlsx
#on crée un objet classeur Excel
classeurExcel=pd.ExcelFile("excel-data.xlsx")

In [100]:
classeurExcel.sheet_names

['sheet1']

In [101]:
#on extrait une feuille du classeur et on la met dans un DataFrame
frameExcel=classeurExcel.parse("sheet1")

In [103]:
frameExcel
#autre approche :
frameExcel=pd.read_excel("excel-data.xlsx",sheetname="sheet1")

In [104]:
frameExcel

,account,name,street,city,state,postal-code
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681
5,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785
6,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008
7,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461
8,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415
9,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308
10,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743
11,231907,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415
12,242368,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686
13,268755,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919
14,273274,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933

In [3]:
#Importez la base de données SQLite salaries et récupérez la table Salaries 
# dans un DataFrame 
from sqlalchemy import create_engine

In [4]:
engine=create_engine('sqlite:///salaries.sqlite')

In [5]:
engine.table_names()

['Salaries']

In [6]:
frameSalaries=pd.read_sql_query("SELECT * from Salaries", engine)

In [122]:
frameSalaries.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [127]:
groupJob=frameSalaries.groupby("JobTitle")

In [18]:
frameSalaries.dropna().sample(n=5000).to_excel("test.xlsx")

In [132]:
groupJob.agg(['mean','std'])
groupJob.describe().to_csv("sortie.csv")

In [117]:
frameSalaries["TotalPay"].median()

71426.60999999999

In [133]:
groupJob.agg(['mean','std'])

                                                               Id  \
                                                             mean
JobTitle
ACCOUNT CLERK                                        25734.819277
ACCOUNTANT                                           24159.200000
ACCOUNTANT INTERN                                    28128.833333
ACPO,JuvP, Juv Prob (SFERS)                         135284.000000
ACUPUNCTURIST                                        18379.000000
ADMINISTRATIVE ANALYST                               19052.946237
ADMINISTRATIVE ANALYST II                            20542.000000
ADMINISTRATIVE ANALYST III                           11020.500000
ADMINISTRATIVE ENGINEER                               4781.800000
ADMINISTRATIVE SERVICES MANAGER                      15777.000000
ADMINISTRATOR, SFGH MEDICAL CENTER                      37.000000
AFFIRMATIVE ACTION SPECIALIST                        17343.833333
AGRICULTURAL INSPECTOR                               23386.500000
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI   34812.000000
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS        30201.000000
AIRPORT COMMUNICATIONS OPERATOR                      14414.518519
AIRPORT COMMUNICATIONS SUPERVISOR                    12218.500000
AIRPORT ECONOMIC PLANNER                              7918.846154
AIRPORT ELECTRICIAN                                   7848.352941
AIRPORT ELECTRICIAN SUPERVISOR                        6313.000000
AIRPORT EMERGENCY PLANNING COORDINATOR               16032.000000
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR             4377.000000
AIRPORT NOISE ABATEMENT SPECIALIST                   23689.000000
AIRPORT OPERATIONS SUPERVISOR                        10722.250000
AIRPORT POLICE SERVICES AIDE                         20580.267380
AIRPORT PROPERTY SPECIALIST I                        15180.076923
AIRPORT SAFETY OFFICER                               15979.000000
ANESTHETIST                                          14611.400000
ANIMAL CARE ASSISTANT SUPERVISOR                     22447.000000
ANIMAL CARE ATTENDANT                                25387.928571
...                                                           ...
Wastewater Control Inspector                         88195.923077
Water & Power Maint Sprv 1                           83044.777778
Water Conservation Admin                             80285.833333
Water Const&Main Supt                                69902.800000
Water Meter Repairer                                 93042.611111
Water Meter Shop Supervisor 1                       110158.000000
Water Operations Analyst                             82611.714286
Water Quality Tech III                               91435.250000
Water Quality Technician                            130159.281250
Water QualityTech I/II                               76412.579710
Water Service Inspector                              86878.341463
Watershed Forester                                   82980.333333
Watershed Keeper                                     93826.644737
Watershed Keeper Supervisor                          83543.000000
Watershed Worker (Seasonal)                         105524.174419
Welder                                               87010.578947
Welfare Fraud Investigator                           89644.750000
Wharfinger 1                                         97462.333333
Wharfinger 2                                         86624.900000
Window Cleaner                                       91498.080000
Window Cleaner Supervisor                            89840.333333
Wire Rope Cable Maint Mechanic                       85352.166667
Wire Rope Cable Maint Sprv                           74151.666667
Worker's Comp Supervisor 1                           94402.714286
Worker's Compensation Adjuster                       92642.783784
X-RAY LABORATORY AIDE                                22502.076923
X-Ray Laboratory Aide                                98890.620000
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS       23392.000000
Youth Comm Advisor                                   99677.750000
ZOO CURATOR                                          18779.000000

                                                                  \
                                                             std
JobTitle
ACCOUNT CLERK                                        2621.592874
ACCOUNTANT                                           6787.702608
ACCOUNTANT INTERN                                    3941.782388
ACPO,JuvP, Juv Prob (SFERS)                                  NaN
ACUPUNCTURIST                                                NaN
ADMINISTRATIVE ANALYST                               4899.535054
ADMINISTRATIVE ANALYST II                            6970.658649
ADMINISTRATIVE ANALYST III                             50.204581
ADMINISTRATIVE ENGINEER                              2473.903295
ADMINISTRATIVE SERVICES MANAGER                      6441.930378
ADMINISTRATOR, SFGH MEDICAL CENTER                           NaN
AFFIRMATIVE ACTION SPECIALIST                        6471.026516
AGRICULTURAL INSPECTOR                               2417.598085
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI           NaN
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS                NaN
AIRPORT COMMUNICATIONS OPERATOR                      5074.726740
AIRPORT COMMUNICATIONS SUPERVISOR                      99.702056
AIRPORT ECONOMIC PLANNER                              739.322984
AIRPORT ELECTRICIAN                                  1145.506217
AIRPORT ELECTRICIAN SUPERVISOR                        390.322943
AIRPORT EMERGENCY PLANNING COORDINATOR               5222.690686
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR                    NaN
AIRPORT NOISE ABATEMENT SPECIALIST                   4935.605333
AIRPORT OPERATIONS SUPERVISOR                        2148.112157
AIRPORT POLICE SERVICES AIDE                         4414.383366
AIRPORT PROPERTY SPECIALIST I                        6366.160976
AIRPORT SAFETY OFFICER                               6280.770319
ANESTHETIST                                         14400.392304
ANIMAL CARE ASSISTANT SUPERVISOR                             NaN
ANIMAL CARE ATTENDANT                                3633.591325
...                                                          ...
Wastewater Control Inspector                        30985.006584
Water & Power Maint Sprv 1                          32606.788844
Water Conservation Admin                            32171.140418
Water Const&Main Supt                               31960.581185
Water Meter Repairer                                32244.726418
Water Meter Shop Supervisor 1                       20460.841820
Water Operations Analyst                            31982.287659
Water Quality Tech III                              31182.136019
Water Quality Technician                             5594.513915
Water QualityTech I/II                              23080.402493
Water Service Inspector                             32645.745912
Watershed Forester                                  34058.793265
Watershed Keeper                                    30680.016453
Watershed Keeper Supervisor                         30838.077261
Watershed Worker (Seasonal)                         30401.636008
Welder                                              31277.490634
Welfare Fraud Investigator                          33312.251167
Wharfinger 1                                        32761.057528
Wharfinger 2                                        30928.397366
Window Cleaner                                      29959.496657
Window Cleaner Supervisor                           36749.033543
Wire Rope Cable Maint Mechanic                      31407.651669
Wire Rope Cable Maint Sprv                          37737.596086
Worker's Comp Supervisor 1                          39527.690939
Worker's Compensation Adjuster                      31600.482565
X-RAY LABORATORY AIDE                                4694.321369
X-Ray Laboratory Aide                               31404.565120
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS               NaN
Youth Comm Advisor                                  32595.496267
ZOO CURATOR                                                  NaN

                                                         TotalPay  \
                                                             mean
JobTitle
ACCOUNT CLERK                                        44035.664337
ACCOUNTANT                                           47429.268000
ACCOUNTANT INTERN                                    29031.742917
ACPO,JuvP, Juv Prob (SFERS)                          62290.780000
ACUPUNCTURIST                                        67594.400000
ADMINISTRATIVE ANALYST                               63954.867527
ADMINISTRATIVE ANALYST II                            61497.035000
ADMINISTRATIVE ANALYST III                           92698.515000
ADMINISTRATIVE ENGINEER                             127961.430000
ADMINISTRATIVE SERVICES MANAGER                      77015.580000
ADMINISTRATOR, SFGH MEDICAL CENTER                  257124.440000
AFFIRMATIVE ACTION SPECIALIST                        68213.983333
AGRICULTURAL INSPECTOR                               53586.100000
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI    1927.500000
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS        15420.000000
AIRPORT COMMUNICATIONS OPERATOR                      81214.809630
AIRPORT COMMUNICATIONS SUPERVISOR                    88180.000000
AIRPORT ECONOMIC PLANNER                            108264.821538
AIRPORT ELECTRICIAN                                 108707.828235
AIRPORT ELECTRICIAN SUPERVISOR                      117088.760000
AIRPORT EMERGENCY PLANNING COORDINATOR               75865.935000
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR           128534.170000
AIRPORT NOISE ABATEMENT SPECIALIST                   49497.225000
AIRPORT OPERATIONS SUPERVISOR                        94913.980000
AIRPORT POLICE SERVICES AIDE                         60129.931283
AIRPORT PROPERTY SPECIALIST I                        77681.843077
AIRPORT SAFETY OFFICER                               74599.264250
ANESTHETIST                                         112265.260400
ANIMAL CARE ASSISTANT SUPERVISOR                     56298.620000
ANIMAL CARE ATTENDANT                                43780.723571
...                                                           ...
Wastewater Control Inspector                         77623.145000
Water & Power Maint Sprv 1                          105269.957778
Water Conservation Admin                            114135.847500
Water Const&Main Supt                               158483.882000
Water Meter Repairer                                 67570.385000
Water Meter Shop Supervisor 1                        74450.515000
Water Operations Analyst                            101959.531429
Water Quality Tech III                               71059.390833
Water Quality Technician                             68884.900938
Water QualityTech I/II                               65582.631014
Water Service Inspector                              91043.082073
Watershed Forester                                  100079.838333
Watershed Keeper                                     67749.905789
Watershed Keeper Supervisor                          84350.591250
Watershed Worker (Seasonal)                          10043.225814
Welder                                               89775.161316
Welfare Fraud Investigator                           87780.635000
Wharfinger 1                                         53030.776667
Wharfinger 2                                         75105.602000
Window Cleaner                                       67670.063600
Window Cleaner Supervisor                            77512.493333
Wire Rope Cable Maint Mechanic                      112211.526000
Wire Rope Cable Maint Sprv                          203033.720000
Worker's Comp Supervisor 1                           70389.297143
Worker's Compensation Adjuster                       73249.269865
X-RAY LABORATORY AIDE                                52705.880385
X-Ray Laboratory Aide                                50823.942700
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS       53632.870000
Youth Comm Advisor                                   41414.307500
ZOO CURATOR                                          66686.560000

                                                                  \
                                                             std
JobTitle
ACCOUNT CLERK                                       13170.742908
ACCOUNTANT                                          27137.331315
ACCOUNTANT INTERN                                   20711.322649
ACPO,JuvP, Juv Prob (SFERS)                                  NaN
ACUPUNCTURIST                                                NaN
ADMINISTRATIVE ANALYST                              18613.695839
ADMINISTRATIVE ANALYST II                           19924.550824
ADMINISTRATIVE ANALYST III                            209.989501
ADMINISTRATIVE ENGINEER                             14993.074838
ADMINISTRATIVE SERVICES MANAGER                     20033.539610
ADMINISTRATOR, SFGH MEDICAL CENTER                           NaN
AFFIRMATIVE ACTION SPECIALIST                       26646.805332
AGRICULTURAL INSPECTOR                               6786.103779
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI           NaN
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS                NaN
AIRPORT COMMUNICATIONS OPERATOR                     17198.286259
AIRPORT COMMUNICATIONS SUPERVISOR                     429.440090
AIRPORT ECONOMIC PLANNER                             4006.255461
AIRPORT ELECTRICIAN                                  6144.361579
AIRPORT ELECTRICIAN SUPERVISOR                       2116.568586
AIRPORT EMERGENCY PLANNING COORDINATOR              16645.654254
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR                    NaN
AIRPORT NOISE ABATEMENT SPECIALIST                  18582.235879
AIRPORT OPERATIONS SUPERVISOR                        9643.191401
AIRPORT POLICE SERVICES AIDE                        15779.177272
AIRPORT PROPERTY SPECIALIST I                       23741.148301
AIRPORT SAFETY OFFICER                              23353.906245
ANESTHETIST                                         90526.260537
ANIMAL CARE ASSISTANT SUPERVISOR                             NaN
ANIMAL CARE ATTENDANT                               17707.828872
...                                                          ...
Wastewater Control Inspector                        34610.266327
Water & Power Maint Sprv 1                          11738.989473
Water Conservation Admin                             6779.629490
Water Const&Main Supt                               32721.850283
Water Meter Repairer                                16956.147137
Water Meter Shop Supervisor 1                       15876.859477
Water Operations Analyst                            40134.313382
Water Quality Tech III                              25374.508200
Water Quality Technician                            21355.859879
Water QualityTech I/II                              23551.159507
Water Service Inspector                             23137.113351
Watershed Forester                                   1680.295737
Watershed Keeper                                    13454.819884
Watershed Keeper Supervisor                          5888.885327
Watershed Worker (Seasonal)                          3903.691686
Welder                                              44658.378514
Welfare Fraud Investigator                          20251.540542
Wharfinger 1                                        20428.082561
Wharfinger 2                                        15341.480427
Window Cleaner                                      14699.152131
Window Cleaner Supervisor                            3653.407319
Wire Rope Cable Maint Mechanic                      59289.581957
Wire Rope Cable Maint Sprv                          18943.310631
Worker's Comp Supervisor 1                          38380.304769
Worker's Compensation Adjuster                      20057.372880
X-RAY LABORATORY AIDE                               19760.943417
X-Ray Laboratory Aide                               24170.083004
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS               NaN
Youth Comm Advisor                                  17311.066571
ZOO CURATOR                                                  NaN

                                                   TotalPayBenefits  \
                                                               mean
JobTitle
ACCOUNT CLERK                                          44035.664337
ACCOUNTANT                                             47429.268000
ACCOUNTANT INTERN                                      29031.742917
ACPO,JuvP, Juv Prob (SFERS)                            80266.370000
ACUPUNCTURIST                                          67594.400000
ADMINISTRATIVE ANALYST                                 63954.867527
ADMINISTRATIVE ANALYST II                              61497.035000
ADMINISTRATIVE ANALYST III                             92698.515000
ADMINISTRATIVE ENGINEER                               127961.430000
ADMINISTRATIVE SERVICES MANAGER                        77015.580000
ADMINISTRATOR, SFGH MEDICAL CENTER                    257124.440000
AFFIRMATIVE ACTION SPECIALIST                          68213.983333
AGRICULTURAL INSPECTOR                                 53586.100000
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI      1927.500000
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS          15420.000000
AIRPORT COMMUNICATIONS OPERATOR                        81214.809630
AIRPORT COMMUNICATIONS SUPERVISOR                      88180.000000
AIRPORT ECONOMIC PLANNER                              108264.821538
AIRPORT ELECTRICIAN                                   108707.828235
AIRPORT ELECTRICIAN SUPERVISOR                        117088.760000
AIRPORT EMERGENCY PLANNING COORDINATOR                 75865.935000
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR             128534.170000
AIRPORT NOISE ABATEMENT SPECIALIST                     49497.225000
AIRPORT OPERATIONS SUPERVISOR                          94913.980000
AIRPORT POLICE SERVICES AIDE                           60129.931283
AIRPORT PROPERTY SPECIALIST I                          77681.843077
AIRPORT SAFETY OFFICER                                 74599.264250
ANESTHETIST                                           112265.260400
ANIMAL CARE ASSISTANT SUPERVISOR                       56298.620000
ANIMAL CARE ATTENDANT                                  43780.723571
...                                                             ...
Wastewater Control Inspector                          105538.436538
Water & Power Maint Sprv 1                            140674.314444
Water Conservation Admin                              158812.837500
Water Const&Main Supt                                 196484.442000
Water Meter Repairer                                   94715.656111
Water Meter Shop Supervisor 1                         102913.910000
Water Operations Analyst                              134826.306286
Water Quality Tech III                                 98219.567083
Water Quality Technician                               94591.214687
Water QualityTech I/II                                 91938.448696
Water Service Inspector                               123347.190122
Watershed Forester                                    140865.673333
Watershed Keeper                                       94782.678816
Watershed Keeper Supervisor                           115094.745000
Watershed Worker (Seasonal)                            10420.268721
Welder                                                113862.922632
Welfare Fraud Investigator                            118216.165625

In [135]:
#jointure
frame4=pd.merge(frameExcel,frameVentes,on="account")

In [155]:
#discrétisation
#taille égale
pd.cut(frame4["Jan"],bins=5)
#intervalles sur mesure
pd.cut(frame4["Jan"],bins=[float("-inf"),10000,20000,100000,float("inf")])
#effectif égaux
pd.qcut(frame4["Jan"],5).value_counts()

(1.15e+05, 150000]    4
(53000, 70000]        4
[10000, 53000]        3
(150000, 162000]      2
(70000, 1.15e+05]     2
Name: Jan, dtype: int64

In [168]:
#dates
#Créez un objet Series et ajoutez des dates partant du 3 décembre 2015 par jour jusqu’à aujourd’hui.
ser3=Series(np.random.randn(366),
            index=pd.date_range("2016-01-01","2016-12-31",freq='d'))

In [169]:
ser3

2016-01-01   -0.353019
2016-01-02    0.011045
2016-01-03    0.222369
2016-01-04    0.754328
2016-01-05    1.230859
2016-01-06   -0.816883
2016-01-07    0.287068
2016-01-08   -0.495295
2016-01-09    0.113107
2016-01-10    0.092274
2016-01-11   -0.215029
2016-01-12   -0.948605
2016-01-13   -0.570478
2016-01-14    1.679276
2016-01-15   -0.383736
2016-01-16   -0.342687
2016-01-17   -0.577783
2016-01-18    1.013334
2016-01-19   -0.591503
2016-01-20   -0.459229
2016-01-21    0.293055
2016-01-22   -0.356748
2016-01-23   -0.367567
2016-01-24    0.856503
2016-01-25    0.316590
2016-01-26   -0.713084
2016-01-27    1.673357
2016-01-28    1.271690
2016-01-29    1.381500
2016-01-30   -0.630857
                ...
2016-12-02   -0.596118
2016-12-03    0.556168
2016-12-04    0.380543
2016-12-05   -1.263677
2016-12-06   -0.490873
2016-12-07    0.090059
2016-12-08    0.467318
2016-12-09    2.384507
2016-12-10   -0.536906
2016-12-11    0.033317
2016-12-12   -0.300579
2016-12-13   -0.092270
2016-12-14   -0.520150
2016-12-15   -0.272803
2016-12-16   -0.665946
2016-12-17   -0.323196
2016-12-18    0.707432
2016-12-19    1.285289
2016-12-20   -1.029828
2016-12-21   -0.830205
2016-12-22   -2.295796
2016-12-23    0.002002
2016-12-24    2.073151
2016-12-25    0.710959
2016-12-26   -0.613839
2016-12-27    0.182412
2016-12-28   -0.073468
2016-12-29   -1.978713
2016-12-30    1.706292
2016-12-31   -0.533196
Freq: D, dtype: float64